<div class="product-list">
    <div
      class="product-card"
      *ngFor="let product of products"
      [class.low-stock]="isLowStock(product.AvailablePieces)"
    >
      <img [src]="product.ProductImg" alt="{{ product.ProductName }}" />
      <h3>{{ product.ProductName }}</h3>
      <p>Price: {{ product.ProductPrice | currency: 'USD' }}</p>
      <p>Available: {{ product.AvailablePieces }} pcs</p>
      <button (click)="editQuantity(product)">Edit Quantity</button>
      <button *ngIf="product.AvailablePieces>0" (click)="toggleProductSelection(product)">add to new order</button>
      <button class="create-order" *ngIf="selectedProducts.length>0"  (click)="createOrder()">Create Order</button>
    </div>

  </div>
  